#list {
  margin-top: 54px;
}

.box {
  height: 31px;
  width: 624px;
  font-size: 14px;
  padding-top: 20px;
  border-bottom: solid 1px #DDDDDD;
}

.searched_user {
  float: left;
  margin-left: 20px;
}

.add_button {
  color: #39AEF0;
  float: right;
  margin-right: 35px;
}
