.alert-notice{
  background-color: #38AEF0;
  height: 30px;
}

.alert-error{
  background-color: #D65F4C;
  height: 30px;
}

.content{
}

.left {
  width: 300px;
  float: left;
  &__header{
    background-color: #253141;
    height: 101px;
    padding: 0 20px;
  }
  &__content{
    background-color: #2f3e51;
    padding: 0 20px;
  }
}

.right{
  width:calc(100vw - 315px);
  float: left;
  &__header{
    background-color: white;
    min-width: 600px;
    height: 101px;
    padding: 0 40px;
  }
  &__content{
    background-color: #FAFAFA;
    min-width: 600px;
    padding: 0 40px 120px;
    overflow: auto;
  }
  // contentのスクロールバーを消す
  &__content::-webkit-scrollbar {
    display: none;
  }
  &__footer{
    background-color: #DDDDDD;
    width: calc(100% - 300px);
    min-width: 400px;
    height: 90px;
    position: fixed; right: 0; bottom: 0;
    &__box{
      background-color: white;
      height: 50px;
      width: calc(100% - 250px);
      margin: 20px 20px 20px 40px;
      padding: 0 15px;
    }
  }
}
