@import "./reset";
@import "./contents";
@import "./clearfix";

header{
    background-color: #38AEF0;
    height: 30px;
}

.content{
    height: 100vw;
    min-width: 980px;
}

.left {
    height: 100vw;
    width: 300px; 
    float: left;
    .left__header{
        background-color: #253141;
        height: 96px;
        width: 300px;
    }
    .left__content{
        background-color: #2f3e51;
        height: calc(100% - 96px);
        width: 300px;
    }
}

.right{
    height: 100vw;
    width:calc(100vw - 315px);
    float: left;
    .right__header{
        background-color: white;
        height: 96px;
        width: calc(100vw - 315px);
    }
    .right__content{
        background-color: #FAFAFA;
        height: calc(100vw - 30px - 96px - 90px);
        width: calc(100vw - 315px);
        overflow: auto;
    }
    .right__footer{
        background-color: #DDDDDD;
        height: 90px;
        width: calc(100vw - 315px);
        position: fixed; right: 0; bottom: 0;
    }
    .right__footer__box{
        background-color: white;
        height: 50px;
        margin: 20px 150px 20px 40px;
    }
}