!!!
%html
  %head
    %title ChatSpace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %p チャットグループが作成されました
    .content
      .left
        .left__header
          .icons
            %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
            %i.fa.fa-cog{"aria-hidden" => "true"}
          %h5.user_name kohei
        .left__content
          %p.group_name_small koheiとゆかいな仲間たち
          %p.group_message やっほおおおおお

          %p.group_name_small koheiとゆかいな仲間たち
          %p.group_message やっほおおおおお

          %p.group_name_small koheiとゆかいな仲間たち
          %p.group_message やっほおおおおお

          %p.group_name_small koheiとゆかいな仲間たち
          %p.group_message やっほおおおおお

      .right
        .right__header
          %p.edit_button Edit
          %h4.group_name koheiの家
          %p.group_member Members : kohei,kimura humino, cat, sasaki nozomi
        .right__content
          %h5.post_name kohei
          %p.timestamp 1993/02/14 07:32:14
          %p.post 猫って最高だよね。

          %h5.post_name kimura humino
          %p.timestamp 1993/02/14 07:32:14
          %p.post わかる！かわいい！

          %h5.post_name cat
          %p.timestamp 1993/02/14 07:32:14
          %p.post にゃおん。

          %h5.post_name kohei
          %p.timestamp 1993/02/14 07:32:14
          %p.post 猫って最高だよね。

          %h5.post_name kimura humino
          %p.timestamp 1993/02/14 07:32:14
          %p.post わかる！かわいい！

          %h5.post_name cat
          %p.timestamp 1993/02/14 07:32:14
          %p.post にゃおん。

          %h5.post_name kohei
          %p.timestamp 1993/02/14 07:32:14
          %p.post 猫って最高だよね。

          %h5.post_name kimura humino
          %p.timestamp 1993/02/14 07:32:14
          %p.post わかる！かわいい！

          %h5.post_name cat
          %p.timestamp 1993/02/14 07:32:14
          %p.post にゃおん。

          %h5.post_name kohei
          %p.timestamp 1993/02/14 07:32:14
          %p.post 猫って最高だよね。

          %h5.post_name kimura humino
          %p.timestamp 1993/02/14 07:32:14
          %p.post わかる！かわいい！

          %h5.post_name cat
          %p.timestamp 1993/02/14 07:32:14
          %p.post にゃおん。

          %h5.post_name kohei
          %p.timestamp 1993/02/14 07:32:14
          %p.post 猫って最高だよね。

          %h5.post_name kimura humino
          %p.timestamp 1993/02/14 07:32:14
          %p.post わかる！かわいい！

          %h5.post_name cat
          %p.timestamp 1993/02/14 07:32:14
          %p.post にゃおん。

        .right__footer
          %p.send_button SEND
          .right__footer__box
            .photo_icon
              %i.fa.fa-picture-o{"aria-hidden" => "true"}
            %p.box_message type your message, yeah
    = yield
